{% extends 'base.html.twig' %}
{% block title %}Portfolio Nathan Corberan{% endblock %}
{% block body %}

    <section id="a-propos" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="section-title">
                <h2>À propos</h2>
                <p id="Text_A_Propos">
                    Je suis Nathan Corberan, âgé de 19 ans et étudiant de le domaine de développer, où je développe mes compétences 
                    en développement. J'effectue une formation en alternance à la au Lycée Eugene Jamot en BTS SIO (Services Informatiques aux Organisations) option SLAM (Solutions Logicielles et Applications Métiers), 
                    où je travaille chez Polytech pour continuer à développer mes compétences techniques en développer. Passionné par l'informatique, rigoureux et ponctuel, je suis extrêmement motivé pour développer 
                    constamment mes compétences et évoluer professionnellement.
                </p>
            </div>
            <div class="row" styles="justify-content: center">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <img src="{{asset('assets/images/costume.jpg') }}" class="img-fluid rounded" alt="" width="500px" height="200px">
                </div>
                <div class="col-lg-4 pt-4 pt-lg-0 content">
                    <div class="row">
                        <div class="col-lg-12 info">
                            <ul class="list-unstyled">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right text-primary" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                    </svg>
                                    <strong>Naissance :</strong><span> 11 Mars 2004 </span>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right text-primary" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                    </svg>
                                    <strong>Âge :</strong> <span>20 ans</span>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right text-primary" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                    </svg>
                                    <strong> Mail:</strong><a href="mailto:nathan.corberan19300@gmail.com" id="lien"> nathan.corberan19300@gmail.com</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right text-primary" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                    </svg>
                                    <strong>Ville :</strong> <span>Egletons</span>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right text-primary" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" >
                                    </svg>
                                    <strong>Permis :</strong> <span>Permis B et véhicule personnel</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="competences" class="competences section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="section-title">
                <h2>Compétences</h2>
            </div>
            <div class="row competences-content" id="table"> 
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="align-middle text-center">Réseau</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Fédora</td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Debian</td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Apache</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="table-responsive">
                        <table class="table table-bordered test">
                            <thead>
                            <tr>
                                <th class="align-middle text-center" colspan="2">Certification</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Certification RootMe</td>
                                    <td class="text-nowrap">Score : 680</td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Certification Cisco</td>
                                    <td class="text-nowrap">
                                        <a href="{{asset('assets/Certif/Certif_Cisco') }}.pdf" target="_blank">Certification Cybersecurité</a>
                                    </td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Certification Pix (score:447)</td>
                                    <td class="text-nowrap">
                                        <a href="{{asset('assets/Certif/Certif_Pix') }}.pdf" target="_blank">Certification Pix</a>
                                    </td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Certification Pix (score:331)</td>
                                    <td class="text-nowrap">
                                        <a href="{{asset('assets/Certif/Certif_Pix2') }}.pdf" target="_blank">Certification Pix 2</a>
                                    </td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Certification Pix (score:213)</td>
                                    <td class="text-nowrap">
                                        <a href="{{asset('assets/Certif/Certif_Pix_3') }}.pdf" target="_blank">Certification Pix 3</a>
                                    </td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Certification Unity</td>
                                    <td class="text-nowrap">
                                        <a href="{{asset('assets/Certif/Certif_Unity') }}.pdf" target="_blank">Certification Unity</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table table-bordered test">
                            <thead>
                            <tr>
                                <th class="align-middle text-center" colspan="2">Développement</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle text-center">
                                    <th class="text-nowrap">Langage</th>
                                    <th class="text-nowrap">Framework</th>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">HTML</td>
                                    <td class="text-nowrap">
                                        <span class="badge text-bg-danger">N/A</span>
                                    </td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">CSS</td>
                                    <td class="text-nowrap">Bootstrap</td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Javascript</td>
                                    <td class="text-nowrap"><span class="badge text-bg-danger">N/A</span></td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">PHP</td>
                                    <td class="text-nowrap">Symfony/Laravel</td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">SQL</td>
                                    <td class="text-nowrap"><span class="badge text-bg-danger">N/A</span></td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">NodeJS</td>
                                    <td class="text-nowrap"><span class="badge text-bg-danger">N/A</span></td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">C#</td>
                                    <td class="text-nowrap">.NET Framework</td>
                                </tr>
                                <tr class="align-middle text-center">
                                    <td class="text-nowrap">Python</td>
                                    <td class="text-nowrap"><span class="badge text-bg-danger">N/A</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <section id="cv" class="resume">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="section-title">
                <h2>Formation &amp; Expérience</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Formation</h3>
                    <div class="resume-item">
                        <h4>BTS SIO</h4>
                        <h5>Septembre 2022 - Aujourd'hui</h5>
                        <p><em>Lycée Eugene Jamot, Aubusson, France</em></p>
                        <span><p style="text-align: justify;">BTS Services Informatiques aux Organisations option solutions logicielles et applications métiers</p>
                            <ul>
                                <li>Concevoir une solution logicielle</li>
                                <li>Cybersécurité des services informatiques</li>
                            </ul>
                        </span>
                    </div>

                    <div class="resume-item">
                        <h4>BAC STI2D</h4>
                        <h5>Septembre 2020 - Juin 2022</h5>
                        <p><em>Lycée Pierre Carminot, Egletons, France</em></p>
                        <span><p>BAC Technologique Sciences et Technologies de l'Industrie et du Développement Durable option SIN (Système d'Information et Numérique)</p></span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <h3 class="resume-title">Expérience professionnelle</h3>
                    <div class="resume-item">
                        <h4>Alternant Informatique</h4>
                        <h5>Septembre 2023 - Aujourd'hui</h5>
                        <p><em>Polytech, Eyrein, France</em></p>
                        <span>
                            <ul>
                                <li>Travailler en mode projet</li>
                                <li>Création d'une application en C# <strong>Rédaction de Fiches Techniques</strong></li>
                                <li>Création d'un <strong>labyrinthe</strong></li>
                                <li>Création d'une application permettant de communiquer en <strong>TCP</strong></li>
                                <li>Support avec les utilisateurs</li>
                            </ul>
                        </span>
                    </div>
                    <div class="resume-item">
                        <h4>Stagiaire Informatique</h4>
                        <h5>Février 2021</h5>
                        <p><em>Néon-Info, Chateauroux, France</em></p>
                        <span>
                            <ul>
                                <li>Installation du Framework: <a href="https://symfony.com/" target="_blank" rel="noopener"><strong>Symfony</strong></a></li>
                                <li>Création d'un site web</li>
                            </ul>
                        </span>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <section id="projets" class="projets section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="section-title">
                <h2>Projets</h2>
                <p id="Text_Projet">J'ai travaillé sur plusieurs projets, chacun étant unique et présentant des défis passionnants. 
                Certains projets nécessitent une compréhension approfondie des besoins des utilisateurs finaux ainsi 
                que des processus métiers afin de fournir des solutions qui répondent à leurs attentes. Ces projets m'ont 
                permis d'acquérir de nouvelles compétences et de développer mes connaissances techniques en utilisant diverses 
                technologies. Je trouve chaque projet stimulant et enrichissant, et cela m'encourage à poursuivre ma passion pour 
                l'informatique. En termes simples, je suis passionné par le travail sur des projets nouveaux et passionnants qui 
                me permettront de repousser mes limites.</p>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Tous</li>
                        <li data-filter="filter-e5">Applications Bureau</li>
                        <li data-filter="filter-web">Applications Web</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 896px;">
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <div class="flip-card-container" style="--hue: 220">
                            <div class="flip-card filter-web">
                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="{{asset('assets/Images/Image_GLPI.gif') }}" alt="GLPI">
                                        <figcaption>GLPI</figcaption>
                                    </figure>
                                    <center>
                                    <ul>
                                        <li id="detail">VM</li>
                                        <li id="detail">Debian</li>
                                        <li id="detail">PHP</li>
                                        <li id="detail">MariaDB</li>
                                    </ul>
                                    </center>
                                </div>
                                <div class="card-back">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="{{asset('assets/Images/Image_GLPI2.gif') }}" id="img_GLPI" alt="Brohm Lake">
                                    </figure>
                                    <a href="#myModal" class="flip-card-button">Ouvrir GLPI</a>
                                    <div class="design-container">
                                        <span class="design design--1"></span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <a href="#projets" class="close" id="closeModal" onclick="history.back()">&times;</a>
                            <h1>GLPI</h1>
                            <h3 id="Sous-Titre_GLPI">Une Gestion Informatique Simplifiée</h3>
                            <p>
                                Découvrez GLPI (Gestionnaire Libre de Parc Informatique) : une solution open source 
                                qui révolutionne la gestion des services informatiques et de l'assistance.
                            </p>
                            <h3 id="Sous-Titre_GLPI">Description du Projet :</h3>
                            <p>
                               Ce projet consiste à réaliser l'installation complète de GLPI (Gestionnaire Libre de Parc Informatique) 
                               sur une machine virtuelle fonctionnant sous Debian, 
                               offrant ainsi une solution robuste de gestion des services informatiques et de l'assistance, 
                               indispensable pour toute organisation désireuse d'optimiser la gestion de son parc informatique.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <div class="flip-card-container " style="--hue: 170">
                            <div class="flip-card filter-web">
                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="{{asset('assets/Images/LogoRappelTout3.png') }}" alt="RappelTout">
                                        <figcaption>RappelTout</figcaption>
                                    </figure>
                                    <center>
                                    <ul>
                                        <li id="detail">Symfony</li>
                                        <li id="detail">php</li>
                                        <li id="detail">twig</li>
                                        <li id="detail">CSS</li>
                                        <li id="detail">MySQL</li>
                                    </ul>
                                    </center>
                                </div>
                                <div class="card-back">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="{{asset('assets/Images/LogoRappelTout3.png') }}" alt="RappelTout">
                                    </figure>
                                    <a href="#myModalRappelTout" class="flip-card-button">Ouvrir RappelTout</a>
                                    <div class="design-container">
                                        <span class="design design--1"></span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModalRappelTout" class="modal">
                        <div class="modal-content">
                            <a href="#projets" class="close" id="closeModal" onclick="history.back()">&times;</a>
                            <h1>RappelTout</h1>
                            <h3 id = "Sous-Titre_GLPI" >Description du Cahier des chargne :</h3>
                            <p> 
                                Pour les besoins de la commission de sécurité, je dois veiller à ce que les extincteurs ne
                                dépassent pas la date de péremption. C’est aussi vrai pour d’autres dispositifs, tels que la
                                date de révision des véhicules de la Région Nouvelle Aquitaine.
                                Pour chaque date importante, il y a un document ce lequel elle figure. Par exemple, celle de
                                péremption des extincteurs figure sur un document dont je dispose au format PDF et que je
                                souhaite placer sur un serveur FTP accessible par moi pendant mes heures de travail (sur le
                                réseau local de la cité scolaire).
                                Je souhaite avoir des rappels soit par mail, soit par SMS, ressemblant à ceci :
                            </p>
                            <img src="{{asset('assets/Images/RappelTout_Mail.png') }}" alt="RappelTout Mail">
                            <h3 id = "Sous-Titre_GLPI" >MCD :</h3>
                            <img src="{{asset('assets/Images/RappelTout_MCD.png') }}" alt="RappelTout MCD">
                            <a href="https://rappeltout.nathan-corberan.fr/" target="_blank" class="flip-card-button">Site RappelTout</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <div class="flip-card-container " style="--hue: 350">
                            <div class="flip-card filter-web">
                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                            <img src="{{asset('assets/Images/LogoHEC2.png') }}" alt="HEC">
                                        <figcaption>HEC</figcaption>
                                    </figure>
                                    <center>
                                    <ul>
                                        <li id="detail">Symfony</li>
                                        <li id="detail">php</li>
                                        <li id="detail">twig</li>
                                        <li id="detail">CSS</li>
                                        <li id="detail">MySQL</li>
                                    </ul>
                                    </center>
                                </div>
                                <div class="card-back">
                                    <!-- only if the image is necessary -->
                                    <figure>
                                        <div class="img-bg"></div>
                                            <img src="{{asset('assets/Images/LogoHEC2.png') }}" alt="HEC">
                                    </figure>
                                    <a href="#myModalHEC" class="flip-card-button">Ouvrir HEC</a>


                                    <!-- can add svg here and remove these eight spans -->
                                    <div class="design-container">
                                        <span class="design design--1"></span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModalHEC" class="modal">
                        <div class="modal-content">
                            <a href="#projets" class="close" id="closeModal" onclick="history.back()">&times;</a>
                            <h1>HEC</h1>
                            <h3 id = "Sous-Titre_GLPI" >Description du projet :</h3>
                            <p> 
                                Création d'un site Web pour l'Association HEC. Ce projet vise à développer une 
                                plateforme permettant la présentation du club, la consultation des actualités, 
                                la gestion des matchs et des entraînements pour toutes les catégories de joueurs. 
                                De plus, il offrira la possibilité d'administrer les contenus tels que les événements 
                                du club, les images et vidéos. Ce projet inclut l'intégration d'une base de données 
                                pour permettre la gestion efficace des contenus. Ce projet est en cours de réalisation.
                            </p>
                            <h3 id = "Sous-Titre_GLPI" >MCD :</h3>
                            <img src="{{asset('assets/Images/MCD_HEC.png') }}" alt="RappelTout MCD">

                            <a href="#" target="_blank" class="flip-card-button">Ouvrir HEC</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-e5">
                    <div class="portfolio-wrap">
                        <div class="flip-card-container" style="--hue: 100">
                            <div class="flip-card filter-web">
                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="{{asset('assets/Images/LogoFT.png') }}" alt="Fiches Techniques">
                                        <figcaption>Fiches Techniques</figcaption>
                                    </figure>
                                    <center>
                                    <ul>
                                        <li id="detail">C#</li>
                                        <li id="detail">SQL</li>
                                        <li id="detail">Microsoft Express</li>
                                    </ul>
                                    </center>
                                </div>
                                <div class="card-back">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="{{asset('assets/Images/LogoFT.png') }}" id="img_GLPI" alt="Fiches Techniques">
                                    </figure>
                                    <a href="#myModalFT" class="flip-card-button">Ouvrir FT</a>

                                    <div class="design-container">
                                        <span class="design design--1"></span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModalFT" class="modal">
                        <div class="modal-content">
                            <a href="#projets" class="close" id="closeModal" onclick="history.back()">&times;</a>
                            <h1>Fiches Techniques</h1>
                            <h3 id = "Sous-Titre_GLPI" >Description du projet :</h3>
                            <p> 
                                Création d'une application en C# connectée à une base de données pour générer des fichiers texte 
                                contenant toutes les données relatives à une ou plusieurs Fiches Techniques de Blocs Portes. 
                                Ces fichiers seront utilisés pour la création de fiches techniques via InDesign. 
                                Chaque Fiche Technique comprendra toutes les annexes, les plans des Blocs Portes et leurs 
                                données spécifiques.
                            </p>
                            <p>
                                L'application sera accessible uniquement en consultation, en création de Fiches Techniques, 
                                d'annexes et de plans, ainsi qu'en création de plans uniquement.
                            </p>
                            <h3 id = "Sous-Titre_GLPI" >MCD :</h3>
                            <img src="{{asset('assets/Images/FT.jpg') }}" alt="MCD FT">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const portfolioFilters = document.getElementById("portfolio-flters");
            const portfolioItems = document.querySelectorAll(".portfolio-item");

            portfolioFilters.addEventListener("click", function (event) {
                if (event.target.tagName === "LI") {
                    const filterValue = event.target.getAttribute("data-filter");

                    // Ajoute la classe active au bouton cliqué et la supprime des autres
                    portfolioFilters.querySelectorAll("li").forEach(function (li) {
                        li.classList.remove("filter-active");
                    });
                    event.target.classList.add("filter-active");

                    // Montre ou cache les projets en fonction du filtre
                    portfolioItems.forEach(function (item) {
                        if (filterValue === "*" || item.classList.contains(filterValue)) {
                            item.style.display = "block";
                        } else {
                            item.style.display = "none";
                        }
                    });
                }
            });
        });
    </script>


{% endblock %}

